html {
    --bg-color-0: 18, 18, 18;
    --bg-color-1: 35, 35, 35;
    --bg-color-2: 45, 45, 45;
    --color1: #1e3f4f;
    --color2: #589579;
    --color3: hsl(0, 45%, 22%);
    --color4: #16C172;
    --color5: #214f3d;
    --text-color: rgb(200, 200, 200);
}

body {
    margin: 0;
    font-family: system-ui,-apple-system,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans","Liberation Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
    background-color: rgb(var(--bg-color-0));
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
}

* {
    box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6, p {
    margin-top: 0;
    margin-bottom: 0;
}

h1, h2, h3, h4, h5, h6 {
    color: white;
}

p {
    color: var(--text-color);
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

li {
    color: var(--text-color);
}

a {
    color: var(--text-color);
}

a:visited {
    color: var(--text-color);
}

/*
GENERAL PURPOSE
*/
.header-text {
    text-align: center;
    margin-bottom: 4em;
    margin-top: 2em;
}


.icon {
    width: 16px;
    height: 16px;
    fill: white;
    display: inline-block;
}

.input {
    display: block;
    width: 100%;
    padding: 0.375em 0.75em;
    color: var(--text-color);
    background-color: rgb(var(--bg-color-2));
    border: 1px solid #646464;
    appearance: none;
    border-radius: 0.25em;
}



.position-relative {
    position: relative;
}

.display-flex {
    display: flex;
}

.align-items-center {
    align-items: center;
}

.align-items-bottom {
    align-items: flex-end;
}

.align-items-start {
    align-items: flex-start;
}

.align-content-space-between {
    align-content: space-between;
}

.justify-content-center {
    justify-content: center;
}

.justify-content-end {
    justify-content: flex-end;
}

.justify-content-start {
    justify-content: flex-start;
}

.justify-content-space-between {
    justify-content: space-between;
}

.justify-content-space-around {
    justify-content: space-around;
}

.justify-content-space-evenly {
    justify-content: space-evenly;
}

.text-center {
    text-align: center;
}

.fit-cover {
    object-fit: cover;
}

.fit-scale-down {
    object-fit: scale-down;
}

/*
CSS UTILITIES
*/
.margin-y-2
{
    margin-top: 2em;
    margin-bottom: 2em;
}

.margin-y-3
{
    margin-top: 3em;
    margin-bottom: 3em;
}

.margin-y-4
{
    margin-top: 4em;
    margin-bottom: 4em;
}

.w-100 {
    width: 100%;
}

.h-100 {
    height: 100%;
}

/*
ROW COLUMN STUFF
*/
.row {
    display: flex;
    flex-wrap: wrap;
}

.row > * {
    flex-shrink: 0;
    width: 100%;
}

/*
COLUMNS
*/
.col-auto {
    width: auto;
}

.col-1 {
    width: 10%;
}

.col-2 {
    width: 20%;
}

.col-3 {
    width: 30%;
}

.col-4 {
    width: 40%;
}

.col-5 {
    width: 50%;
}

.col-6 {
    width: 60%;
}

.col-7 {
    width: 70%;
}

.col-8 {
    width: 80%;
}

.col-9 {
    width: 90%;
}

/* >= 576px */
@media screen AND (min-width: 576px) {
    .col-sm-1 {
        width: 10%;
    }

    .col-sm-2 {
        width: 20%;
    }

    .col-sm-3 {
        width: 30%;
    }

    .col-sm-4 {
        width: 40%;
    }

    .col-sm-5 {
        width: 50%;
    }

    .col-sm-6 {
        width: 60%;
    }

    .col-sm-7 {
        width: 70%;
    }

    .col-sm-8 {
        width: 80%;
    }

    .col-sm-9 {
        width: 90%;
    }
}

@media screen AND (min-width: 768px) {
    .col-md-1 {
        width: 10%;
    }

    .col-md-2 {
        width: 20%;
    }

    .col-md-3 {
        width: 30%;
    }

    .col-md-4 {
        width: 40%;
    }

    .col-md-5 {
        width: 50%;
    }

    .col-md-6 {
        width: 60%;
    }

    .col-md-7 {
        width: 70%;
    }

    .col-md-8 {
        width: 80%;
    }

    .col-md-9 {
        width: 90%;
    }
}

@media screen AND (min-width: 1200px) {
    .col-xl-1 {
        width: 10%;
    }

    .col-xl-2 {
        width: 20%;
    }

    .col-xl-3 {
        width: 30%;
    }

    .col-xl-4 {
        width: 40%;
    }

    .col-xl-5 {
        width: 50%;
    }

    .col-xl-6 {
        width: 60%;
    }

    .col-xl-7 {
        width: 70%;
    }

    .col-xl-8 {
        width: 80%;
    }

    .col-xl-9 {
        width: 90%;
    }
}




@media screen AND (min-width: 576px) {
    .display-sm-none {
        display: none;
    }
}

/* <= 575px */
@media screen AND (max-width: 575px) {
    .display-sm-max-none {
        display: none;
    }
}

@media screen AND (min-width: 768px) {
    .display-md-none {
        display: none;
    }
}

@media screen AND (max-width: 767px) {
    .display-md-max-none {
        display: none;
    }
}

.lead {
    font-size: 1.25rem;
    font-weight: 300;
}


/*
CONTAINERS
*/
.container-xl, .container-md, .container-sm, .container-fluid {
    width: 100%;
    margin-right: auto;
    margin-left: auto;
    padding-left: 12px;
    padding-right: 12px;
}


@media screen AND (min-width: 576px) {
    .container-sm {
        max-width: 540px;
    }
}

@media screen AND (min-width: 768px) {
    .container-md, .container-sm {
        max-width: 750px;
    }
}

@media screen AND (min-width: 1200px) {
    .container-md, .container-sm, .container-xl {
        max-width: 1140px;
    }
}






.page-wrapper {
    min-height: 100vh;
    padding-top: 50px;
    padding-bottom: 2em;
}


/*
NAVBAR
*/
.navbar {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    padding: 10px 20px;
    z-index: 1000;
    backdrop-filter: blur(10px);
    background-color: hsla(207, 15%, 12%, 0.8);
    box-shadow: 0px 2px 15px rgb(0, 0, 0);
    color: white;
}

.navbar-list {
    display: inline-block;
    list-style-type: none;
}

.navbar-item {
    margin-right: 20px;
    display: inline-block;
}

.navbar-link {
    text-decoration: none;
    color: var(--text-color);
    transition: color 0.2s;
}

.navbar-link.active {
    color: #ffffff;
    border-bottom: 1px solid white;
}

.navbar-link:hover {
    color: #ffffff;
}

.search-container {
    display: flex;
    align-items: center;
}

.search-input {
    padding: 5px 10px;
    border: 1px solid rgb(170, 170, 170);
    border-radius: 3px;
    height: 30px;
}

.search-button {
    background-color: #c0a300;
    border: none;
    color: white;
    cursor: pointer;
    padding: 5px 10px;
    border-radius: 3px;
    transition: background-color 0.2s;
    height: 30px;
    margin-left: 0.5em;
}

.search-button:hover {
    background-color: #48ad4d;
}

.search-button:active {
    background-color: #246627;
}


/*
FOOTER
*/
.footer {
    background-color: rgb(var(--bg-color-1));
    padding-top: 2em;
    padding-bottom: 2em;
}

.footer-col {
    width: auto;
    margin-left: 1em;
    margin-right: 1em;
    text-align: center;
}

@media screen AND (max-width: 575px) {
    .footer-col {
        width: 50%;
        margin: 0;
        margin-top: 1em;
    }
}

.copyright-text {
    width: 200px;
    text-align: center;
}

.footer-hr {
    margin-top: 1.5em;
    margin-bottom: 1.5em;
    border-color: rgb(121, 121, 121);
}

.round-container {
    background-color: rgb(var(--bg-color-1));
    box-shadow: 0px 0px 20px black;
    padding: 2em;
    padding-left: 3em;
    padding-right: 3em;
    border-radius: 12px;
}

.register-container {
    margin-top: 10em;
}

/**
BLOG ARTICLE
*/
.blog-container {
    margin-top: 5em;
}

.stats-container {
    color: white;
}

.stats-container > * {
    padding-left: 0.2em;
    padding-right: 0.2em;
    display: inline-block;
}

.like-button {
    cursor: pointer;
    transition: transform 0.25s, color 0.1s;
}

.like-button:hover {
    color: rgb(223, 71, 104);
    transform: scale(1.25);
}

.like-button:active {
    color: rgb(255, 46, 91);
    transform: scale(1.5);
}

/**
like button has been pressed
*/
.like-button.active {
    color: rgb(223, 71, 104);
}

.like-button.active:hover {
    color: rgb(255, 159, 180);
    transform: scale(1);
}

.like-button.active:active {
    color: white;
    transform: scale(1);
}

.blog-info-container {
    margin-top: 2em;
    margin-bottom: 1em;
    row-gap: 0.5em;
}

.stats-row {
    justify-content: space-evenly;
}

.blog-content-container {
    margin-top: 1em;
}


/**
BLOG SPOILER
*/

/*
Set the children height.
Otherwise with flex-wrap the wrapped elements will overflow, as the parent height will not change.
*/
.blog-spoiler > * {
    height: 225px;
}

.blog-spoiler-container {
    background-color: rgb(var(--bg-color-1));
    box-shadow: 0px 0px 20px black;
    padding: 1em;
    padding-right: 0.5em;
    border-radius: 12px;
    cursor: pointer;
    transition: transform 0.1s;
}

.blog-spoiler-container:active {
    transform: scale(1.015);
}

.blog-thumbnail-img {
    object-fit: scale-down;
    width: 100%;
    height: 100%;
    object-position: top;
}

.blog-spoiler-text-container {
    overflow: hidden;
    position: relative;
}

.blog-spoiler-text {
    padding-left: 12px;
    padding-right: 12px;
}

.read-further-container {
    display: flex;
    align-items: flex-end;
    justify-content: center;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 150px;
    color: rgb(0, 0, 0);
    background-image: linear-gradient(
      to top,
      rgba(var(--bg-color-1), 1) 25%,
      rgba(var(--bg-color-1), 0) 100%
    );
    padding-left: 12px;
    padding-right: 12px;
    border-radius: 12px;
}

.read-further-text {
    margin-bottom: 0.75em;
    border: 2px solid transparent;
    transition: border 0.2s;
}

.blog-spoiler-container:hover .read-further-text {
    border-bottom: 2px solid white;
}

@media screen AND (max-width: 767px) {
    .blog-thumbnail-img-container {
        height: auto;
    }

    .blog-spoiler-container {
        padding: 1em;
    }

    .blog-spoiler-text {
        padding-left: 0px;
        padding-right: 0px;
    }

    .read-further-container {
        border-radius: 0px;
    }

    .blog-spoiler-title {
        margin-bottom: 0.25em;
    }
}
