html {
    --bg-color-0: 18, 18, 18;
    --bg-color-1: 35, 35, 35;
    --bg-color-2: 55, 55, 55;
    --color1: #1e3f4f;
    --color2: #589579;
    --color3: hsl(0, 45%, 22%);
    --color4: #16C172;
    --color5: #214f3d;
    --accent-color1: hsl(203, 20%, 30%);
    --accent-color1-hover: hsl(201, 20%, 40%);
    --accent-color1-active: hsl(202, 20%, 35%);
    --accent-color2: hsl(138, 30%, 30%);
    --accent-color2-hover: hsl(138, 30%, 40%);
    --accent-color2-active: hsl(138, 30%, 35%);
    --accent-color-red: hsl(0, 65%, 40%);
    --accent-color-red-hover: hsl(0, 70%, 60%);
    --accent-color-red-active: hsl(0, 70%, 50%);
    --text-color: rgb(200, 200, 200);
}

body {
    margin: 0;
    font-family: system-ui,-apple-system,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans","Liberation Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
    background-color: rgb(var(--bg-color-0));
    font-weight: 400;
    line-height: 1.5;
}

pre {
    font-family: system-ui,-apple-system,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans","Liberation Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
    /* white space pre retains literal line breaks, but when resizing it doesn't break. This fixes it */
    white-space: pre-wrap;
}

* {
    box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6, p, pre {
    margin-top: 0;
    margin-bottom: 0;
}

.h1, .h2, .h3, .h4, .h5, .h6 {
    margin-bottom: 0.5em;
}

h1, h2, h3, h4, h5, h6 {
    color: white;
}

p, pre {
    color: var(--text-color);
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

li {
    color: var(--text-color);
}

a {
    color: var(--text-color);
    transition: color 0.25s;
}

a:visited {
    color: var(--text-color);
}

a.active {
    color: white;
    text-decoration: none;
}

a:hover {
    color: white;
    text-decoration: none;
}

i {
    color: white;
    display: inline-block;
}

button, input, textarea {
    margin: 0;
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
    border-radius: 0;
    border-style: none;
    resize: none;
}

button {
    cursor: pointer;
}

button, select {
    text-transform: none;
}



/**
for auto growing textarea
*/
.grow-wrap {
    display: grid;
}

.grow-wrap::after {
    content: attr(data-replicated-value) " ";
    white-space: pre-wrap;
    visibility: hidden;
}

.grow-wrap > textarea {
    resize: none;
    overflow: hidden;
}

.grow-wrap > textarea, .grow-wrap::after {
    padding: 0.5rem;
    font: inherit;
    grid-area: 1 / 1 / 2 / 2;
}
  

/*
GENERAL PURPOSE
*/
.header-text {
    text-align: center;
    margin-bottom: 4em;
    margin-top: 2em;
}

.hr {
    margin-top: 1em;
    margin-bottom: 1em;
    border-color: rgb(121, 121, 121);
}

.gap-y-1 > *:not(:first-child) {
    margin-top: 1em;
}

.gap-y-05 > *:not(:first-child) {
    margin-top: 0.5em;
}

.icon-text-right {
    margin-left: 0.35em;
}


.icon {
    width: 16px;
    height: 16px;
    fill: white;
    display: inline-block;
}

.input {
    display: block;
    width: 100%;
    padding: 0.2em 0.75em;
    color: var(--text-color);
    background-color: rgb(var(--bg-color-2));
    border: 1px solid #646464;
    appearance: none;
    border-radius: 0.25em;
}

.input:focus {
    border: 1px solid hsl(0, 0%, 50%);
    outline: none;
}

/* So the calendar icon is white */
.input-date {
    color-scheme: dark;
}

/*
BUTTON STUFF
*/
.button {
    padding: 0.375em 0.75em;
    color: var(--text-color);
    appearance: none;
    border-radius: 8px;
    text-align: center;
    transition: background-color 0.2s;
}

.button-primary {
    font-weight: 600;
    font-size: 1.25rem;
    padding-left: 1.25rem;
    padding-right: 1.25rem;
    color: white;
}

.button-dark {
    color: var(--text-color);
    background-color: rgb(11, 11, 11);
}

.button-dark:hover {
    background-color: rgb(22, 22, 22);
}

.button-dark:active {
    background-color: rgb(17, 17, 17);
}


.button-accent {
    background-color: var(--accent-color1);
}

.button-accent:hover {
    background-color: var(--accent-color1-hover);
}

.button-accent:active {
    background-color: var(--accent-color1-active);
}

.button-accent2 {
    background-color: var(--accent-color2);
}

.button-accent2:hover {
    background-color: var(--accent-color2-hover);
}

.button-accent2:active {
    background-color: var(--accent-color2-active);
}

.button-remove {
    transition: background-color 0.25s;
    background-color: var(--accent-color-red);
}

.button-remove:hover {
    background-color: var(--accent-color-red-hover);
}

.button-remove:active {
    background-color: var(--accent-color-red-active);
}


i.color-remove {
    color: var(--accent-color-red);
    transition: color 0.25s;
    cursor: pointer;
    font-size: 1.15em;
}

i.color-remove:hover {
    color: var(--accent-color-red-hover);
}

i.color-remove:active {
    color: var(--accent-color-red-active);
}


/*
CSS UTILITIES
*/
.position-relative {
    position: relative;
}

.display-flex {
    display: flex;
}

.display-inline-block {
    display: inline-block;
}

.align-items-center {
    align-items: center;
}

.align-items-bottom {
    align-items: flex-end;
}

.align-items-start {
    align-items: flex-start;
}

.align-content-space-between {
    align-content: space-between;
}

.justify-content-center {
    justify-content: center;
}

.justify-content-end {
    justify-content: flex-end;
}

.justify-content-start {
    justify-content: flex-start;
}

.justify-content-space-between {
    justify-content: space-between;
}

.justify-content-space-around {
    justify-content: space-around;
}

.justify-content-space-evenly {
    justify-content: space-evenly;
}

.align-self-flex-end {
    align-self: flex-end;
}

.flex-grow-1 {
    flex-grow: 1;
}

.text-center {
    text-align: center;
}

.fit-cover {
    object-fit: cover;
}

.fit-scale-down {
    object-fit: scale-down;
}

.margin-x-05
{
    margin-left: 0.5em;
    margin-right: 0.5em;
}

.margin-x-1
{
    margin-left: 1em;
    margin-right: 1em;
}

.margin-y-05
{
    margin-top: 0.5em;
    margin-bottom: 0.5em;
}

.margin-y-1
{
    margin-top: 1em;
    margin-bottom: 1em;
}

.margin-y-2
{
    margin-top: 2em;
    margin-bottom: 2em;
}

.margin-y-3
{
    margin-top: 3em;
    margin-bottom: 3em;
}

.margin-y-4
{
    margin-top: 4em;
    margin-bottom: 4em;
}

.margin-bottom-1 {
    margin-bottom: 1em;
}

.w-100 {
    width: 100%;
}

.h-100 {
    height: 100%;
}

/*
ROW COLUMN STUFF
*/
.row {
    display: flex;
    flex-wrap: wrap;
}

.row > * {
    flex-shrink: 0;
    width: 100%;
}

.row-gap-1 {
    row-gap: 1em;
}

/*
COLUMNS
*/
.col-auto {
    width: auto;
}

.col {
    flex: 1 0 0%;
}

.col-1 {
    width: 10%;
}

.col-2 {
    width: 20%;
}

.col-3 {
    width: 30%;
}

.col-4 {
    width: 40%;
}

.col-5 {
    width: 50%;
}

.col-6 {
    width: 60%;
}

.col-7 {
    width: 70%;
}

.col-8 {
    width: 80%;
}

.col-9 {
    width: 90%;
}

/* >= 576px */
@media screen AND (min-width: 576px) {
    .col-sm-auto {
        width: auto;
    }

    .col-sm {
        flex: 1 0 0%;
    }

    .col-sm-1 {
        width: 10%;
    }

    .col-sm-2 {
        width: 20%;
    }

    .col-sm-3 {
        width: 30%;
    }

    .col-sm-4 {
        width: 40%;
    }

    .col-sm-5 {
        width: 50%;
    }

    .col-sm-6 {
        width: 60%;
    }

    .col-sm-7 {
        width: 70%;
    }

    .col-sm-8 {
        width: 80%;
    }

    .col-sm-9 {
        width: 90%;
    }
}

@media screen AND (min-width: 768px) {
    .col-md-auto {
        width: auto;
    }

    .col-md {
        flex: 1 0 0%;
    }

    .col-md-1 {
        width: 10%;
    }

    .col-md-2 {
        width: 20%;
    }

    .col-md-3 {
        width: 30%;
    }

    .col-md-4 {
        width: 40%;
    }

    .col-md-5 {
        width: 50%;
    }

    .col-md-6 {
        width: 60%;
    }

    .col-md-7 {
        width: 70%;
    }

    .col-md-8 {
        width: 80%;
    }

    .col-md-9 {
        width: 90%;
    }
}

@media screen AND (min-width: 1200px) {
    .col-xl-auto {
        width: auto;
    }

    .col-xl {
        flex: 1 0 0%;
    }

    .col-xl-1 {
        width: 10%;
    }

    .col-xl-2 {
        width: 20%;
    }

    .col-xl-3 {
        width: 30%;
    }

    .col-xl-4 {
        width: 40%;
    }

    .col-xl-5 {
        width: 50%;
    }

    .col-xl-6 {
        width: 60%;
    }

    .col-xl-7 {
        width: 70%;
    }

    .col-xl-8 {
        width: 80%;
    }

    .col-xl-9 {
        width: 90%;
    }
}




@media screen AND (min-width: 576px) {
    .display-sm-none {
        display: none;
    }
}

/* <= 575px */
@media screen AND (max-width: 575px) {
    .display-sm-max-none {
        display: none;
    }
}

@media screen AND (min-width: 768px) {
    .display-md-none {
        display: none;
    }
}

@media screen AND (max-width: 767px) {
    .display-md-max-none {
        display: none;
    }
}

@media screen AND (max-width: 1199px) {
    .display-xl-max-none {
        display: none;
    }
}

@media screen AND (min-width: 1200px) {
    .display-xl-none {
        display: none;
    }
}

.lead {
    font-size: 1.25rem;
    font-weight: 300;
}


/*
CONTAINERS
*/
.container-xl, .container-md, .container-sm, .container-fluid {
    width: 100%;
    margin-right: auto;
    margin-left: auto;
    padding-left: 12px;
    padding-right: 12px;
}


@media screen AND (min-width: 576px) {
    .container-sm {
        max-width: 540px;
    }
}

@media screen AND (min-width: 768px) {
    .container-md, .container-sm {
        max-width: 720px;
    }
}

@media screen AND (min-width: 1200px) {
    .container-md, .container-sm, .container-xl {
        max-width: 1140px;
    }
}

/*
So the footer will always be at the bottom at the end of the viewport
min-height: 100vh;
*/
.page-wrapper {
    min-height: 100vh;
    padding-top: 53px;
    padding-bottom: 2em;
}

/*
DROPDOWN
*/
.dropdown-collapse:not(.collapsed) .dropdown-body {
    margin-top: 1em;
}

.dropdown-button-classic {
    border-radius: 12px;
    background-color: rgb(var(--bg-color-2));
    color: white;
    padding: 0.5em 1em 0.5em 1em;
    width: 100%;
}

.dropdown-button-classic::after {
    content: "";
    background-image: url("/ressources/icons/caret-down-solid.svg");
    background-repeat: no-repeat;
    width: 1em;
    height: 1em;
    background-size: 1em;
    display: inline-block;
    margin-left: auto;
    transition: transform 0.2s ease-out;
}

.dropdown-button-classic:not(.collapsed)::after {
    transform: rotate(180deg);
}

.dropdown-collapse.collapsed {
    display: none;
}

.collapsing {
    height: 0;
    overflow: hidden;
    transition: 0.2s ease height;
}







/**
Specific styles
*/


/*
NAVBAR
*/
.navbar {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    color: white;
}

.navbar-mobile-row {
    height: 50px;
    width: 100%;
    background-color: transparent;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar-dropdown-button {
    background-color: transparent;
}

.navbar-icon {
    padding: 0em 1em;
}

.nav-hamburger-icon {
    font-size: 1.5rem;
}

.navbar-container {
    width: 100%;
    height: auto;
    position: fixed;
    top: 0;
    z-index: 1000;
    backdrop-filter: blur(2px);
    background-color: hsla(207, 15%, 12%, 1);
    box-shadow: 0px 2px 15px rgb(0, 0, 0);
    transition: background-color 1s, backdrop-filter 1.25s;
}

.navbar-container.collapsed {
    backdrop-filter: blur(10px);
    background-color: hsla(207, 15%, 12%, 0.8);
    transition: background-color 0.25s;
}

.navbar-list {
    list-style-type: none;
    align-items: center;
}

.navbar-link {
    text-decoration: none;
    color: var(--text-color);
    transition: color 0.2s;
}

.navbar-link.active {
    color: #ffffff;
    border-bottom: 1px solid white;
}

.navbar-link:hover {
    color: #ffffff;
}

.login-button, .login-button * {
    color: white;
}

.login-button-row {
    column-gap: 0.5em;
}

.navbar-row {
    display: flex;
    column-gap: 1em;
    row-gap: 1.5em;
    flex-wrap: wrap;
}

.navbar-col {
    width: auto;
}

@media screen AND (min-width: 851px) {
    .navbar-mobile-row {
        display: none;
    }
}

@media screen AND (max-width: 850px) {
    .navbar {
        height: 100vh;
    }

    .navbar-col {
        width: 100%;
    }

    .navbar-row {
        justify-content: center;
        display: flex;
    }

    .navbar-link {
        font-size: 1.2rem;
    }

    .navbar-item {
        width: 100%;
        display: flex;
        justify-content: center;
    }
}

@media screen AND (max-width: 575px) {
    .navbar-item-sm {
        width: 100%;
    }
}


/*
FOOTER
*/
.footer {
    background-color: rgb(var(--bg-color-1));
    padding-top: 2em;
    padding-bottom: 2em;
}

.footer-col {
    width: auto;
    margin-left: 1em;
    margin-right: 1em;
    text-align: center;
}

@media screen AND (max-width: 575px) {
    .footer-col {
        width: 50%;
        margin: 0;
        margin-top: 1em;
    }
}

.copyright-text {
    width: 200px;
    text-align: center;
}

.footer-hr {
    margin-top: 1.5em;
    margin-bottom: 1.5em;
    border-color: rgb(121, 121, 121);
}

.round-container {
    background-color: rgb(var(--bg-color-1));
    box-shadow: 0px 0px 20px black;
    padding: 2em;
    padding-left: 1.5em;
    padding-right: 1.5em;
    border-radius: 12px;
}


/**
REGISTER
*/
.register-container {
    margin-top: 10em;
}

.register-form > .row:not(:first-child) {
    margin-top: 1em;
}

.register-gap-row {
    column-gap: 2em;
}


/**
BLOG ARTICLE
*/
.blog-container {
    margin-top: 5em;
}

.stats-container {
    color: white;
}

.stats-container > * {
    padding-left: 0.2em;
    padding-right: 0.2em;
    display: inline-block;
}

.stats-row {
    justify-content: space-evenly;
}


/**
LIKE BUTTON
*/
.like-button {
    transition: transform 0.25s, color 0.1s;
}

.like-button:not(.mute-cursor-effects) {
    cursor: pointer;
}

.like-hover {
    color: rgb(223, 71, 104);
    transform: scale(1.2);
}

.like-button:active:not(.mute-cursor-effects) {
    color: rgb(255, 46, 91);
    transform: scale(1.4);
}

/**
like button has been pressed
*/
.like-button.active, .like-counter.active {
    color: rgb(223, 71, 104);
}

.like-button.active.like-hover {
    color: rgb(255, 159, 180);
    transform: scale(1);
}

.like-button.active:active:not(.mute-cursor-effects) {
    color: rgb(255, 255, 255);
    transform: scale(0.85);
}

.blog-head {
    margin-bottom: 1em;
}

/*
stuff like date, username, likes, statistics, tags
*/
.blog-info-container {
    margin-top: 1.5em;
    row-gap: 0.75em;
}

.blog-content-container {
    margin-top: 1em;
}

.tag-item {
    display: inline-block;
    background-color: rgb(var(--bg-color-2));
    border-radius: 12px;
    padding-left: 0.75em;
    padding-right: 0.75em;
    flex-shrink: 1;
}

.tag-element-row {
    column-gap: 0.5em;
}

.tag-element-row > * {
    flex-shrink: 1;
}

.tag-list {
    column-gap: 0.5em;
    row-gap: 0.5em;
}

.tag-list-container {
    column-gap: 0.5em;
}

.tag-search-results-container {
    position: absolute;
    width: 100%;
    height: auto;
    border-radius: 0 0 12px 12px;
    background-color: rgb(var(--bg-color-0));
    box-shadow: 0px 0px 10px black;
    padding: 20px 10px;
}


/**
The dropdown for the tag-list should only be visible on mobile
Overwrite display none of collapsed like this
*/
@media screen AND (min-width: 576px) {
	.tag-list-container.collapsed {
        display: flex;
    }
}


/**
BLOG SPOILER
*/

.blog-spoiler-tag-list-container {
    margin-top: 0.75em;
}

.blog-spoiler-list > *:not(:first-child) {
    margin-top: 2em;
}

.blog-spoiler-container {
    background-color: rgb(var(--bg-color-1));
    box-shadow: 0px 0px 20px black;
    padding: 1em;
    padding-right: 0.5em;
    border-radius: 12px;
    cursor: pointer;
    transition: transform 0.1s;
}

.blog-spoiler-container:active {
    transform: scale(1.015);
}

.blog-thumbnail-img {
    width: 100%;
    object-position: top;
}

.blog-spoiler-text-container {
    overflow: hidden;
    position: relative;
    height: 210px;
}

.blog-spoiler-text {
    padding-left: 12px;
    padding-right: 12px;
}

.read-further-container {
    display: flex;
    align-items: flex-end;
    justify-content: center;
    position: absolute;
    bottom: 0px;
    width: 100%;
    height: 150px;
    color: rgb(0, 0, 0);
    background-image: linear-gradient(
      to top,
      rgba(var(--bg-color-1), 1) 25%,
      rgba(var(--bg-color-1), 0) 100%
    );
    padding-left: 12px;
    padding-right: 12px;
    border-radius: 12px;
}

.read-further-text {
    margin-bottom: 0.75em;
    border: 2px solid transparent;
    transition: border 0.2s;
}

.blog-spoiler-container:hover .read-further-text {
    border-bottom: 2px solid white;
}

@media screen AND (max-width: 767px) {
    .blog-thumbnail-img-container {
        height: auto;
    }

    .blog-spoiler-container {
        padding: 1em;
    }

    .blog-spoiler-text {
        padding-left: 0px;
        padding-right: 0px;
    }

    .blog-spoiler-text-container {
        height: 175px;
    }

    .read-further-container {
        border-radius: 0px;
    }

    .blog-spoiler-title {
        margin-bottom: 0.25em;
        font-size: 1.17rem;
    }
}

@media screen AND (max-width: 1199px) {
    .read-further-container {
        bottom: 0;
    }

    .blog-spoiler-title {
        font-size: 1.17rem;
    }
}

/*
SEARCH KATZEGORIEN
*/
.search-katzegorien-container {
    margin-top: 1em;
}

.search-katzegorien-result {
    margin-top: 4em;
}

.search-form > input {
    margin-top: 1em;
}

.submit-row {
    margin-top: 2em !important;
}

/**
UPLOAD STYLES
*/

.upload-error-overlay, .upload-hover-overlay, .drop-upload, .upload-progressbar {
    border-radius: 12px;
}

.drop-upload {
    border-color: rgb(201, 201, 201);
    border-style: dashed;
    border-width: 2px;
    min-height: 100px;
}

.upload-default {
    padding: 1rem;
    text-align: center;
}

.hover, .drop-upload:hover {
    background: var(--accent-color1);
    border-style: solid;
    cursor: pointer;
}

.drop-upload > * {
    pointer-events: none;
}


/* logic when to show which state */
.drop-upload:not(.hover) .upload-hover-overlay {
    display: none;
}

.drop-upload:not(.error) .upload-error-overlay {
    display: none;
}

.drop-upload:not(.loading) .upload-progressbar {
    display: none;
}

.drop-upload:not(.uploaded) .uploaded-files-list {
    display: none;
}

.drop-upload.hover .upload-default,
.drop-upload.hover .upload-progressbar,
.drop-upload.hover .upload-error-overlay,
.drop-upload.uploaded-error .upload-default,
.drop-upload.loading .upload-default,
.drop-upload.error .upload-default  {
    display: none;
}

.upload-progressbar {
    background: var(--accent-color2);
}

.uploaded {
    background: var(--accent-color2);
    border-style: solid;
}

.upload-hover-overlay {
    background: var(--accent-color1);
}

.upload-error-overlay {
    background-color: var(--accent-color-red);
    padding: 0.5em;
    padding-left: 1em;
    padding-right: 1em;
}

.upload-error-overlay p {
    font-weight: 500;
    font-size: 1.25rem;
    color: white;
}

.error {
    color: var(--accent-color-red-active);
}

.confirmation-row {
    width: 75%;
    justify-content: space-between;
}

@media screen AND (max-width: 575px) {
    .confirmation-row {
        width: 0%;
        justify-content: center;
        row-gap: 2em;
    }
}

.paging-row {
    text-align: center;
    margin: 2em 0;
    display: flex;
    justify-content: center;
}

.page-links-row {
    padding: 0 0.5em;
}

.page-links-row > a:not(:first-child) {
    border-left: 1px solid var(--text-color);
}

.page-links-row > a {
    padding: 0 0.5em;
}